body {
  background-color: #4682B4;
  font-family: 'Inter', sans-serif;
}

.login-container {
  max-width: 450px;
  margin: 280px auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.input-group-text {
  background-color: #fff;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-control {
  border-left: none;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: #418ad1;
  box-shadow: 0 0 5px rgba(65, 138, 209, 0.5);
}

.btn-login {
  background-color: rgb(66, 135, 199);
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 7px;
}

.btn-login:hover {
  background-color: rgb(52, 106, 156);
  color: #fff;
}

.btn-reset {
  background-color: rgba(133, 133, 133, 1);
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
}

.btn-reset:hover {
  background-color: rgba(100, 100, 100, 1);
  color: #fff;
}

.remember-forgot {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

label,
a {
  color: #f0f0f0;
}

a:hover {
  text-decoration: underline;
}